/vendor/
.idea
storage/*
!storage/users/.gitkeep

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
var/cache/*
var/sessions/*
!var/sessions/.gitkeep
!var/cache/.gitkeep
var/log/*
!var/log/.gitkeep
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
